

body {
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5;
    font-size: 18px;
    height: 3000px; /*a supprimer*/
}

.scrollBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: lightblue;
}


.scrollBar__progress{
    height: 100%;
    background-color: coral;
    width: var(--scrollbar-width,0%);
}


   

    